*{
padding: 0;
margin: 0;
text-decoration: none;
}

body{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:white;
}

header{
    width: 100%;
    height: 100px;
    
}

.nav-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    margin-top: 5px;
}

.nav-align{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 802px;
}
.align-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.align-elementsnav{
    display: flex;
    gap: 40px;
}
.align-elementsnav > a{
    font-size: 14px;
    font-family:"Kanit", sans-serif;
    color: #00215B;
}

.nav-align2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 530px;
    margin-top: 30px;
}
.align-elementsnav2{
    display: flex;
    gap: 45px;
}
.align-elementsnav2 > a{
    font-size: 22px;
    color: #00215B;
    font-family: "Kanit", sans-serif;;
}

main{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 1920px;
    height: 900px;
    top: 144px;
    gap: 0px;
    opacity: 0px;
    background-size: cover;
    background-image: url("../imagem/construção.svg");
    

}

.about-contrution{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 801px;
    height: 406px;
    top: 391px;
    margin-left: -370px;
    gap: 0px;
    opacity: 0px;
}

.about-contrution > .format-titulo{
    display: flex;
    font-family: Kanit;
    font-size: 40px;
    font-weight: 900px;
    line-height: 84px;
    text-align: left;
    color: #FFFFFF;
}

.format-titulo > h2 {
    display: flex;
    font-family: Kanit;
    font-size: 80px;
    font-weight: 400;
    line-height: 84px;
    text-align: left;
}

.format-texto{
    width: 751px;
    height: 84px;
    top: 208px;
    gap: 0px;
    opacity: 0px;
}
.format-texto >p{
    font-family:  "Lato", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #EBECEE;
    margin-top: 40px;
}

.align-button1 > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 64px;
    top: 342px;
    gap: 0px;
    opacity: 0px;
    color: white;
    background-color: #D2153D;
    margin-top: 110px;
    font-family: Kanit;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
}

.align-square{
    display: flex;
    width: 100%;
    height: 580px;
    margin-top: 226px;
    margin-left: 140px;
   
}

.square-azul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    height: 235px;
    color: white;
    background-color: #00215B;
}

.square-azul >h1{
    display: flex;
    flex-direction: column;
    font-family: Kanit;
    font-size: 100px;
     margin: 40px 110px 91px 40px;  
}

.square-azul >p{
    margin-top: -100px;
    margin-left: -50px;
}

.square-vermelho {
    width: 290px;
    height: 235px;
    gap: 0px;
    opacity: 0px;
    background-color: #D2153D;
}

.square-vermelho >h1{
    display: flex;
    flex-direction: column;
    font-family: Kanit;
    font-size: 100px;
    color: white;
    margin: 40px 110px 91px 40px;  
}

.square-vermelho >p{
    margin-top: -100px;
    margin-left: 50px;
    color: white;
}


.big-square{

    
}
